doctype html
html
	head
		title Create post - Blog
	body
		h1 Create your blog post
		form
			// add this to the form(action='/required path' method='post')
			p
				|Title <br/>
				input(type='text' name='title' required)
			p
				|Header <br/>
				textarea(name='header')
			p
				|Body <br/>
				textarea(name='bio' placeholder='Your article goes here...')
			p
				|Add a picture <br/>
				input(type='file' name='postPic')
			p
				input(type='button' value='Save post')
			p
				input(type='submit' value='Create post')
		p
			a(href='/') Return to Blog.com