doctype html
html
	head
		title Blog
	body
		h1 Home page
		figure 
			img(src='images/home-IMG_7499.jpg' alt='home image' title='just a lake')
			figcaption One of my favorite pics
		p Add home page text
		p
			|New to Blog? 
			a(href='/signup') Create your Blog account
		p
			|Already have an account? 
			a(href='/signin') Sign in