doctype html
html
	head
		title Blog
		link(href='css/index.css' type='text/css' rel='stylesheet')
	body
		div.main
			h1 Home page
			figure
				img(src='images/home-IMG_7499.jpg' alt='home image' title='just a lake')
			h1 Crate amazing blogs
			p Home page text
			p 
				|New to Blog? 
				a(href='accounts/signup') Create your Blog account
			p#member 
				|Already have an account? 
				a(href='accounts/signin') Sign in