doctype html
html
	head
		title Land after sign up - Blog
	body
		h1 Land page after sign up
		figure 
			img(src='images/home-IMG_7499.jpg' alt='home image' title='just a lake')
		h2 What do you want to do?
		p
			a(href='/post_create') Write something
		p
			|Search for articles (add link)