doctype html
html
	head
		title Blog Create account
	body
		h1 Create account
		form
			// add this to the form(action='/required path' method='get' or method='post')
			p
				|Your username <br/>
				input(type='text' name='username' maxlength='50' required)
			p
				|Email <br/>
				input(type='text' name='email' maxlength='50' required)
			p
				|Password <br/>
				input(type='password' name='password' placeholder='at least 6 characters' maxlength='50' required)
			p
				|Password again<br/>
				input(type='password' name='password' maxlength='50' required)
			p
				input(type='submit' value='Create your Blog account')
			p
				|By creating an account you agree to Blog's terms of service (add link)
		p
			|Already have an account? 
			a(href='/signin') Sign in