extends ../layouts/layout.pug

block title
	|dashboard 

block main
	h1 Dashboard

	if user != null
		p Hi #{user.username}!
	else
		p Hi there!
	p
		a(href='/posts/create') Create a new post
	p Your messages
	p Your latest posts: #{latestPosts}
	ul
		for posts in latestPosts
			li= posts.title
	p Your visitors
	p Your most common referers
	p People following you
	p People you are following
	p
		a(href='/accounts/signout') Sign out