extends ../layouts/layout.pug

block title
	|profile 

block main
	h1 Create your user profile
	form(action='/accounts/profile' method='post')
		p
			|Name <br/>
			input(type='text' name='name')
		p
			|Bio <br/>
			textarea(name='bio' placeholder='Enter your bio...')
		p
			|Add your picture <br/>
			input(type='file' name='userPic')
		p
			input(type='submit' value='Create profile')

	p
		a(href='/') Return to Blog.com
	p
		a(href='/accounts/signout') Sign out