extends layout.pug

block title
	|signin 

block main
	h1 Sign in
	form(action='/accounts/signin' method='post')
		p 
			|Username or Email <br/>
			input(type='text' name='usernameOrEmail' required)
		p 
			|Password <br/>
			input(type='password' name='password' required)
		p
			input(type='checkbox' name='stay_signed' checked)
			|Stay signed in
		p
			input(type='submit' value='Sign in')
	p
		|New to Blog? 
		a(href='/accounts/signup') Create your Blog account
	p 
		|Forgot your password? (add link to page)
	p
		a(href='/') Return to Blog.com