extends ../layouts/layout.pug

block title
	|edit post 

block main
	h1 Edit your blog post
	form(action='/posts/' + post.id + '/edit' method='post')
		p
			|Title <br/>
			input(type='text' name='title' value=post.title)
		p
			|Subtitle <br/>
			textarea(name='subtitle')= post.subtitle
		p
			|Body <br/>
			textarea(name='body')= post.body
		p
			|Change the picture <br/>
			input(type='file' name='postPic')
		//- p
		//- 	input(type='button' value='Save post')
		p
			input(type='submit' value='Update post')
	form
		p
			input(type='submit' value='Delete post')
	p
		a(href='/') Return to Blog.com
	p
		a(href='/accounts/signout') Sign out