doctype html
html
	head
		title User profile - Blog
		link(href='index.css' type='text/css' rel='stylesheet')
	body
		div.main
			h1 Create your user profile
			form(action='/profile' method='post')
				p
					|First name <br/>
					input(type='text' name='firstName' maxlength='30')
				p
					|Last name <br/>
					input(type='text' name='lastName' maxlength='30')
				p
					|Bio <br/>
					textarea(name='bio' placeholder='Enter your bio...')
				p
					|Add your picture <br/>
					input(type='file' name='userPic')
				p
					input(type='submit' value='Create profile')

			p
				a(href='/') Return to Blog.com