doctype html
html
	head
		title Create account - Blog
		link(href='index.css' type='text/css' rel='stylesheet')
	body
		div.main
			h1 Create your account
			p#member
				a(href='/signin') I already have an account
			form(action='/signup' method='post')
				p
					|Choose a username <br/>
					input(type='text' name='username' maxlength='50' required)
				p
					|Your email <br/>
					input(type='text' name='email' placeholder='yourname@example.com' maxlength='50' required)
				p
					|Choose a password <br/>
					input(type='password' name='password' placeholder='at least 6 characters' maxlength='50' required)
				p
					|Confirm password <br/>
					input(type='password' name='confirm_password' maxlength='50' required)
				p
					|By creating an account you agree to our Terms of Service (add link)
				p
					input(type='submit' value='Create my account')
			p
				a(href='/') Return to Blog.com